<!doctype html>
<html lang="en" class="no-focus">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Texas ToGo Driver Pay Portal</title>

    <meta name="description" content="Daily payments, instant payouts, weekend and holiday pay">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <!-- Open Graph Meta -->
    <meta property="og:title" content="Texas ToGo Driver Pay Portal">
    <meta property="og:site_name" content="TxToGo">
    <meta property="og:description" content="Daily payments, instant payouts, weekend and holiday pay">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    
    
    
    <!-- END Icons -->

    <!-- Stylesheets -->

    <!-- Fonts and TxToGo framework -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
    <%= stylesheet_link_tag "codebase.min.css" %>

    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
    <!-- END Stylesheets -->
</head>

<body>

    <!-- Page Container -->
    <!--
            Available classes for #page-container:

        GENERIC

            'enable-cookies'                            Remembers active color theme between pages (when set through color theme helper Template._uiHandleTheme())

        SIDEBAR & SIDE OVERLAY

            'sidebar-r'                                 Right Sidebar and left Side Overlay (default is left Sidebar and right Side Overlay)
            'sidebar-mini'                              Mini hoverable Sidebar (screen width > 991px)
            'sidebar-o'                                 Visible Sidebar by default (screen width > 991px)
            'sidebar-o-xs'                              Visible Sidebar by default (screen width < 992px)
            'sidebar-inverse'                           Dark themed sidebar

            'side-overlay-hover'                        Hoverable Side Overlay (screen width > 991px)
            'side-overlay-o'                            Visible Side Overlay by default

            'enable-page-overlay'                       Enables a visible clickable Page Overlay (closes Side Overlay on click) when Side Overlay opens

            'side-scroll'                               Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (screen width > 991px)

        HEADER

            ''                                          Static Header if no class is added
            'page-header-fixed'                         Fixed Header

        HEADER STYLE

            ''                                          Classic Header style if no class is added
            'page-header-modern'                        Modern Header style
            'page-header-inverse'                       Dark themed Header (works only with classic Header style)
            'page-header-glass'                         Light themed Header with transparency by default
                                                        (absolute position, perfect for light images underneath - solid light background on scroll if the Header is also set as fixed)
            'page-header-glass page-header-inverse'     Dark themed Header with transparency by default
                                                        (absolute position, perfect for dark images underneath - solid dark background on scroll if the Header is also set as fixed)

        MAIN CONTENT LAYOUT

            ''                                          Full width Main Content if no class is added
            'main-content-boxed'                        Full width Main Content with a specific maximum width (screen width > 1200px)
            'main-content-narrow'                       Full width Main Content with a percentage width (screen width > 1200px)
        -->
<div id="page-container" class="side-scroll page-header-modern main-content-boxed side-trans-enabled"><div id="page-overlay"></div>
 
    <header id="page-header">
    <div class="content-header">
        <div class="content-header-section">
        <% if current_user %>
            <%= link_to dashboard_path do %>
          <button type="button" class="btn btn-rounded btn-dual-secondary">
            <span>Dashboard</span>
          </button>
          <% end %>
          <button type="button" class="btn btn-circle btn-dual-secondary" data-toggle="layout" data-action="header_search_on">
                            <i class="fa fa-search"></i>
                        </button>
                           <button type="button" class="btn btn-circle btn-dual-secondary" data-toggle="modal" data-target='#invite-fadein'>
                            <i class="fa fa-envelope"></i>
                        </button>       
        <% else %>
            <%= link_to root_path do %>
          <button type="button" class="btn btn-rounded btn-dual-secondary">
            <span class="d-none d-sm-inline-block">Home</span>
          </button>
          <% end %>
        <% end %>
        </div>
        <div class="content-header-section">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-rounded btn-dual-secondary" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user d-sm-none"></i>
                            <span class="d-none d-sm-inline-block"><%= current_user.first_name[0] %>. <%= current_user.last_name %></span>
                    <i class="fa fa-angle-down ml-5"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right min-width-200" aria-labelledby="page-header-user-dropdown">
                            <h5 class="h6 text-center py-10 mb-5 border-b text-uppercase">User</h5>
                            <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
                                <i class="si si-user mr-5"></i> Account
                            <% end %>
                            <div class="dropdown-divider"></div>
                            <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
                                <i class="si si-logout mr-5"></i> Sign Out
                            <% end %>
                        </div>
            </div>
        </div>
    </div>

      <!-- Fade In Modal -->
                    <div class="modal fade" id="invite-fadein" tabindex="-1" role="dialog" aria-labelledby="modal-fadein"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <%= form_tag invite_drivers_path, method: 'get' do %>
                                <form action="/invite-drivers" method="post">
                                <div class="block block-themed block-transparent mb-0">
                                    <div class="block-header bg-primary-dark">
                                        <h3 class="block-title">Invite Drivers</h3>
                                        <div class="block-options">
                                            <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                                <i class="si si-close"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <%= text_area_tag :emails, nil, placeholder: 'Place each email address on a new line', id: 'invite-text-area' %>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                 <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Close</button>
                                        <%= button_tag class: "btn btn-alt-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sending..."} do %>
                                            <i class="fa fa-check"></i> Invite
                                        <% end %>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <!-- END Fade In Modal -->

<div id="page-header-search" class="overlay-header">
                    <div class="content-header content-header-fullrow">
                        <form action="/users" method="get">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <!-- Close Search Section -->
                                    <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                                    <button type="button" class="btn btn-secondary" data-toggle="layout" data-action="header_search_off">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <!-- END Close Search Section -->
                                </div>
                                <input type="text" class="form-control" placeholder="Search for first name, last name, or phone number... press ESC to hide" id="page-header-search-input" name="search">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-secondary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
</header>
                 <%= render 'layouts/messages' %>

    <main id="main-container" style="min-height: 1113px;">
<div class="content">
    <h2 class="content-heading">Drivers</h2>
           <div class="row js-appear-enabled animated fadeIn" data-toggle="appear">
                        <!-- Row #3 -->
                        <div class="col-md-12">
                        
                                <div class="row">
                        <!-- Row #1 -->
                    <% @users.each do |user| %>
                            <div class="col-md-6 col-xl-3">
                                <%= link_to impersonate_user_path(user), method: :post, class: 'block block-link-shadow' do %>
                                <div class="block-content block-content-full clearfix">
                                    <div class="float-right">
                                        <img class="img-avatar" src="https://i.ibb.co/GxXHwf6/avatar8.jpg" alt="">
                                    </div>
                                    <div class="float-left mt-10">
                                        <div class="font-w600 mb-5"><%= user.first_name %> <%= user.last_name.truncate(15) %></div>
                                        <div class="font-size-sm text-muted"><%= user.phone_number %></div>
                                    </div>
                                </div>
                                <% end %>
                        </div>
  <% end %>

                        
                        <!-- END Row #1 -->
                    </div>
                                </div>
                      
                    </div>
</div>
    </main>
    <footer id="page-footer" class="opacity-0" style="opacity: 1;">
    <div class="content py-20 font-size-xs clearfix">
        <div class="float-right">
            Texas ToGo Driver Portal
        </div>
                    <div class="float-left">
                        &copy; 2015-2019 Texas ToGo
                    </div>
    </div>
</footer>
</div>

    <!--
            TxToGo JS Core

            Vital libraries and plugins used in all pages. You can choose to not include this file if you would like
            to handle those dependencies through webpack. Please check out assets/_es6/main/bootstrap.js for more info.

            If you like, you could also include them separately directly from the assets/js/core folder in the following
            order. That can come in handy if you would like to include a few of them (eg jQuery) from a CDN.

            assets/js/core/jquery.min.js
            assets/js/core/bootstrap.bundle.min.js
            assets/js/core/simplebar.min.js
            assets/js/core/jquery-scrollLock.min.js
            assets/js/core/jquery.appear.min.js
            assets/js/core/jquery.countTo.min.js
            assets/js/core/js.cookie.min.js
        -->
    <%= javascript_include_tag "codebase.core.min.js" %>

    <!--
            TxToGo JS

            Custom functionality including Blocks/Layout API as well as other vital and optional helpers
            webpack is putting everything together at assets/_es6/main/app.js
        -->
    <%= javascript_include_tag "codebase.app.min.js" %>

    <!-- Page JS Plugins -->
    <%= javascript_include_tag "Chart.bundle.min.js" %>

    <!-- Page JS Code -->
    <%= javascript_include_tag "be_pages_dashboard.min.js" %>

</body>

</html>