<html lang="en" class="no-focus">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <title>Texas ToGo Driver Pay Portal</title>

  <meta name="description" content="Daily payments, instant payouts, weekend and holiday pay">
  <meta name="author" content="pixelcave">
  <meta name="robots" content="noindex, nofollow">

  <!-- Open Graph Meta -->
  <meta property="og:title" content="Texas ToGo Driver Pay Portal">
  <meta property="og:site_name" content="TxToGo">
  <meta property="og:description" content="Daily payments, instant payouts, weekend and holiday pay">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <!-- Icons -->
  <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
  
  
  
  <!-- END Icons -->

  <!-- Stylesheets -->

  <!-- Fonts and TxToGo framework -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
  <%= stylesheet_link_tag "codebase.min.css" %>

  <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
  <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
  <!-- END Stylesheets -->
</head>

<body>

  <!-- Page Container -->
  <!--
            Available classes for #page-container:

        GENERIC

            'enable-cookies'                            Remembers active color theme between pages (when set through color theme helper Template._uiHandleTheme())

        SIDEBAR & SIDE OVERLAY

            'sidebar-r'                                 Right Sidebar and left Side Overlay (default is left Sidebar and right Side Overlay)
            'sidebar-mini'                              Mini hoverable Sidebar (screen width > 991px)
            'sidebar-o'                                 Visible Sidebar by default (screen width > 991px)
            'sidebar-o-xs'                              Visible Sidebar by default (screen width < 992px)
            'sidebar-inverse'                           Dark themed sidebar

            'side-overlay-hover'                        Hoverable Side Overlay (screen width > 991px)
            'side-overlay-o'                            Visible Side Overlay by default

            'enable-page-overlay'                       Enables a visible clickable Page Overlay (closes Side Overlay on click) when Side Overlay opens

            'side-scroll'                               Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (screen width > 991px)

        HEADER

            ''                                          Static Header if no class is added
            'page-header-fixed'                         Fixed Header

        HEADER STYLE

            ''                                          Classic Header style if no class is added
            'page-header-modern'                        Modern Header style
            'page-header-inverse'                       Dark themed Header (works only with classic Header style)
            'page-header-glass'                         Light themed Header with transparency by default
                                                        (absolute position, perfect for light images underneath - solid light background on scroll if the Header is also set as fixed)
            'page-header-glass page-header-inverse'     Dark themed Header with transparency by default
                                                        (absolute position, perfect for dark images underneath - solid dark background on scroll if the Header is also set as fixed)

        MAIN CONTENT LAYOUT

            ''                                          Full width Main Content if no class is added
            'main-content-boxed'                        Full width Main Content with a specific maximum width (screen width > 1200px)
            'main-content-narrow'                       Full width Main Content with a percentage width (screen width > 1200px)
        -->
  <div id="page-container" class="main-content-boxed side-trans-enabled">

    <!-- Main Container -->
    <main id="main-container" style="min-height: 1293px;">

      <!-- Page Content -->
      <div class="bg-image" style="background-image: url('<%= ENV["WELCOME_IMAGE_URL"] %>');">
        <div class="row mx-0 bg-black-op">
          <div class="hero-static col-md-6 col-xl-8 d-none d-md-flex align-items-md-end">
            
          </div>
          <div class="hero-static col-md-6 col-xl-4 d-flex align-items-center bg-white">
          <!-- Header -->
          <header id="page-header" style="position:absolute;top:0;left:0;">
              <% if current_user != true_user %>
              <div style="
      margin-bottom: 35p;
      height: 35px;
      background: #3f9ce8;
      color: white;
      text-align: center;
      padding: 8px;
  ">
                  You (<%= true_user.first_name %>) are signed in as
                  <%= current_user.first_name %>
                  <%= link_to "Back to admin", stop_impersonating_users_path, method: :post, class: 'back-to-admin' %>
              </div>
  
              <% end %>
              <!-- Header Content -->
              <div class="content-header">
                  <!-- Left Section -->
                  <div class="content-header-section">
                      <!-- Open Search Section -->
                      <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                      <%= link_to ENV["SUPPORT_URL"] do %>
                        <button type="button" class="btn btn-rounded btn-dual-secondary">
                          <span>Support</span>
                        </button>
                        <% end %>
                      <!-- END Open Search Section -->
                  </div>
                  <!-- END Left Section -->
  
                  <!-- Right Section -->
                  <div class="content-header-section">
                      <!-- User Dropdown -->
                      <% if current_user %>
                      <div class="btn-group" role="group">
                          <button type="button" class="btn btn-rounded btn-dual-secondary" id="page-header-user-dropdown"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-user d-sm-none"></i>
                              <span class="d-none d-sm-inline-block">
                                  <%= current_user.first_name[0] %>.
                                  <%= current_user.last_name %></span>
                              <i class="fa fa-angle-down ml-5"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right min-width-200" aria-labelledby="page-header-user-dropdown">
                              <h5 class="h6 text-center py-10 mb-5 border-b text-uppercase">User</h5>
                              <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
                              <i class="si si-logout mr-5"></i> Sign Out
                              <% end %>
                          </div>
                      </div>
                      <% else %>
                      <div class="btn-group" role="group">
                          <%= link_to new_user_session_path do %>
                          <button type="button" class="btn btn-rounded btn-dual-secondary">
                              <span class="d-none d-sm-inline-block">Sign In</span>
                          </button>
                          <% end %>
                          <%= link_to new_user_registration_path do %>
                          <button type="button" class="btn btn-rounded btn-dual-secondary">
                              <span class="d-none d-sm-inline-block">Sign Up</span>
                          </button>
                          <% end %>
                      </div>
                      <% end %>
                      <!-- END User Dropdown -->
                  </div>
                  <!-- END Right Section -->
              </div>
              <!-- END Header Content -->
          </header>
          <!-- END Header -->    
          <div class="content content-full">
              <!-- Header -->
              <div class="px-30 py-10">
                <img src="<%= ENV["LOGO_IMAGE_URL"] %>" height="75" />
                <h1 class="h3 font-w700 mt-30 mb-10">Driver Portal</h1>
                <h2 class="h5 font-w400 text-muted mb-0" style="text-align: left;">Background Check (1 of 2)</h2>
              </div>
              <div class="px-30">
                <div class="progress" data-wizard="progress" style="height: 8px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: 67.6667%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>To continue, you must order a background check. The cost of a background check is <%= !current_user.bgc_paid ? "$#{ENV["BGC_FEE"]}" : "$#{ENV["MVR_FEE"]}" %>. You can pay with any major credit card.</p>
                <form id="payment-form" action="/bgc/payment/charge" method="post">
                  <div id="card-errors" class="alert alert-danger"></div>
        
                  <div class="form-row">
                        <div class="form-group col-md-12">
                            <div id="card-number-element" class="form-control input-lg"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div id="card-expiry-element" class="form-control input-lg"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <div id="card-cvc-element" class="form-control input-lg"></div>
                        </div>
                    </div>  
                    <%= button_tag class: "btn btn-sm btn-hero btn-alt-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..."} do %>
                        Pay <%= !current_user.bgc_paid ? "$#{ENV["BGC_FEE"]}" : "$#{ENV["MVR_FEE"]}" %>
                    <% end %>
                </form>           
            </div>
            <!-- END Header -->

            <script>
                $(document).ready(function(){
                    var stripe = Stripe('<%= ENV['PUBLISHABLE_KEY'] %>');
                    var elements = stripe.elements(); 
                                        
                    var cardNumberElement = elements.create('cardNumber', {
                        placeholder: 'Card number',
                      });
                      cardNumberElement.mount('#card-number-element');
                      
                      var cardExpiryElement = elements.create('cardExpiry', {
                        placeholder: 'MM/YY',
                      });
                      cardExpiryElement.mount('#card-expiry-element');
                      
                      var cardCvcElement = elements.create('cardCvc', {
                        placeholder: 'CVC',
                      });
                      cardCvcElement.mount('#card-cvc-element');

                      var form = document.getElementById('payment-form');

                    form.addEventListener('submit', function(ev) {
                        ev.preventDefault();
                        stripe.createToken(cardNumberElement).then(function(result) {
                            if (result.error) {
                              var errorElement = document.getElementById('card-errors');
                              errorElement.textContent = result.error.message;
                              errorElement.style.display = 'block';
                              setTimeout(function(){
                                $(form).find(':submit')[0].textContent = 'Pay <%= !current_user.bgc_paid ? "$#{ENV["BGC_FEE"]}" : "$#{ENV["MVR_FEE"]}" %>';
                                $(form).find(':submit')[0].disabled = false;
                              }, 1000);
                            } else {
                              stripeTokenHandler(result.token);
                            }
                          });
                    });
                });    
                
                function stripeTokenHandler(token) {
                    var form = document.getElementById('payment-form');
                    var hiddenInput = document.createElement('input');
                    hiddenInput.setAttribute('type', 'hidden');
                    hiddenInput.setAttribute('name', 'stripeToken');
                    hiddenInput.setAttribute('value', token.id);
                    form.appendChild(hiddenInput);

                    form.submit();
                }
            </script>

              <!-- Sign Up Form -->
              <!-- jQuery Validation functionality is initialized with .js-validation-signup class in js/pages/op_auth_signup.min.js which was auto compiled from _es6/pages/op_auth_signup.js -->

              <%= render 'layouts/messages' %>
              
            </div>
          </div>
        </div>
      </div>
      <!-- END Page Content -->

    </main>
    <!-- END Main Container -->
  </div>
  <!-- END Page Container -->

  <!-- Terms Modal -->
  <div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-labelledby="modal-terms" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-slidedown" role="document">
      <div class="modal-content">
        <div class="block block-themed block-transparent mb-0">
          <div class="block-header bg-primary-dark">
            <h3 class="block-title">Terms &amp; Conditions</h3>
            <div class="block-options">
              <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                <i class="si si-close"></i>
              </button>
            </div>
          </div>
          <div class="block-content">
            <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan
              dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum
              tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi
              ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo
              turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer
              luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh
              orci.</p>
            <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan
              dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum
              tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi
              ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo
              turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer
              luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh
              orci.</p>
            <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan
              dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum
              tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi
              ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo
              turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer
              luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh
              orci.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-alt-success" data-dismiss="modal">
            <i class="fa fa-check"></i> Perfect
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END Terms Modal -->


  <!--
            TxToGo JS Core

            Vital libraries and plugins used in all pages. You can choose to not include this file if you would like
            to handle those dependencies through webpack. Please check out assets/_es6/main/bootstrap.js for more info.

            If you like, you could also include them separately directly from the assets/js/core folder in the following
            order. That can come in handy if you would like to include a few of them (eg jQuery) from a CDN.

            assets/js/core/jquery.min.js
            assets/js/core/bootstrap.bundle.min.js
            assets/js/core/simplebar.min.js
            assets/js/core/jquery-scrollLock.min.js
            assets/js/core/jquery.appear.min.js
            assets/js/core/jquery.countTo.min.js
            assets/js/core/js.cookie.min.js
        -->
  <%= javascript_include_tag "codebase.core.min.js" %>


  <!--
            TxToGo JS

            Custom functionality including Blocks/Layout API as well as other vital and optional helpers
            webpack is putting everything together at assets/_es6/main/app.js
        -->
  <%= javascript_include_tag "codebase.app.min.js" %>

  <!-- Page JS Plugins -->
  <%= javascript_include_tag "jquery.validate.min.js" %>

  <!-- Page JS Code -->
  <%= javascript_include_tag "op_auth_signup.min.js" %>


</body>

</html>