<% if @balance_available > 0 %>
<div class="row js-appear-enabled animated fadeIn" data-toggle="appear">
    <!-- Row #3 -->
    <div class="col-md-12">
        <div class="block">
            <div class="block-content block-content-full">


                <div class="topspace text-center">
                    <h3>Initiate Payout</h3>
                    <p>
                        For an extra <%= ENV["INSTANT_PAYOUT_FEE"].to_f * 100 %>% fee (minimum $<%= ENV["INSTANT_PAYOUT_MINIMUM"] %>), we'll create an instant transfer to your debit card.
                    </p>
                    <% if @debit_card %>
                        <button data-target='#debit-fadein' class="trigger-debit btn btn-alt-secondary" data-toggle='modal'>Get this transfer instantly</button>
                        <%= link_to "Update debit card", debit_cards_new_path, class: 'update-account-link' %>
                    <% else %>
                        <%= link_to "Add a debit card", debit_cards_new_path, class: "btn btn-alt-secondary" %>
                    <% end %>
                </div>
                <div class="strike">
                    <span>or</span>
                </div>
                <div class="topspace text-center">
                    <% if @bank_account %>
                        <% if current_user.payout_wait.nil? || current_user.payout_wait <= Date.today || @payouts.try(:last).try(:status) == "failed" %>
                            <p>There is no cost to ACH payouts. Limited to 1 ACH every <%= ENV["ACH_PAYOUT_FREQUENCY"] %> days.</p>
                            <button data-target='#bank-fadein' class="trigger-bank btn btn-alt-primary" data-toggle='modal'>Get this transfer in 2-5 days</button>
                            <%= link_to "Update bank account", new_bank_account_path, class: 'update-account-link' %>
                        <% else %>
                            <button class="trigger-bank btn btn-alt-danger">You cannot payout via ACH until <%= current_user.payout_wait.to_date %></button>
                        <% end %>
                    <% else %>
                        <%= link_to "Add a bank account", new_bank_account_path, class: "btn btn-alt-primary" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>

                    <div class="row js-appear-enabled animated fadeIn" data-toggle="appear">
                        <!-- Row #3 -->
                        <div class="col-md-6">
                            <div class="block block-rounded block-bordered">
                                <div class="block-header block-header-default border-b">
                                    <h3 class="block-title">Payments
                                        <button class="btn-tooltip" aria-label="Daily payments are transfers from us to your driver wallet." data-microtip-position="top" role="tooltip">
                                                                                                    <i class="fa fa-question-circle"></i>

                                        </button>
                                    </h3>
                                    <div class="block-options">
                                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                                            <i class="si si-refresh"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="block-content">
                                <div class="table-responsive">
                                    <table class="table table-borderless table-striped">
                                                      <% unless @payments.data.empty? %>

                                        <thead>
                                            <tr>
                                                <th style="width: 100px;">Payment ID</th>
                                                <th>Amount</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                                          <% @payments.each do |payment| %>
                                                            <% unless payment.reversed %>
                                      <tr>
                                        <td><%= payment.destination_payment %></td>
                                        <td><%= number_to_currency(payment.amount.to_f/100) %></div>
                                        <td><%= format_date(payment.created) %></td>
                                      </tr>
                                      <% end %>
                                    <% end %>
                                        </tbody>
                                        <% else %>
                                            <tbody>
                                            <tr>
                                            No payments yet
                                            </tr>
                                            </tbody>
                                        <% end %>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="block block-rounded block-bordered">
                                <div class="block-header block-header-default border-b">
                                    <h3 class="block-title">Payouts
                                        <button class="btn-tooltip" aria-label="Pay outs are transfers that you initiate from your driver wallet to your bank account or debit card." data-microtip-position="top" role="tooltip">
                                                                                                    <i class="fa fa-question-circle"></i>
                                        </button>
                                    </h3>
                                    <div class="block-options">
                                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                                            <i class="si si-refresh"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="block-content">
                                    <div class="table-responsive">
                                    <table class="table table-borderless table-striped">
                                    <% unless @payouts.data.empty? %>
                                        <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th style="width: 100px;">Transfer ID</th>
                                                <th>Destination</th>
                                                <th>Amount</th>
                                                <th class="text-center">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <% @payouts.each do |payout| %>
                                            <tr>
                                            <td><span title="<%= payout.status == 'failed' ? payout.failure_message : '' %>" class="badge badge-pill badge-<%= payout.status == "paid" ? 'success' : (payout.status == "failed" ? 'danger' : 'info') %>"><%= payout.status %></span></td>
                                              <td><%= payout.id %></td>
                                              <td>             
                                                <% if payout.type.eql?('bank_account') %>
                                                  <%= payout.destination.try(:bank_name) %> ending in <%= payout.destination.try(:last4) %>
                                                <% elsif payout.type.eql?('card') %>
                                                  <%= payout.destination.try(:brand) %> ending in <%= payout.destination.try(:last4) %>
                                                <% end %>
                                              </td>
                                              <td><%= format_amount(payout.amount) %></td>
                                              <td><%= format_date(payout.arrival_date) %></td>
                                          </tr>
                                          <% end %>
                                        </tbody>
                                        <% else %>
                                            <tbody>
                                                <tr>No payouts yet</tr>
                                            </tbody>
                                        <% end %>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Row #3 -->
                    </div>


                <!-- END Page Content -->

                <% if @debit_card %>
                    <!-- Fade In Modal -->
                    <div class="modal fade" id="debit-fadein" tabindex="-1" role="dialog" aria-labelledby="modal-fadein"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="block block-themed block-transparent mb-0">
                                    <div class="block-header bg-primary-dark">
                                        <h3 class="block-title">Confirm</h3>
                                        <div class="block-options">
                                            <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                                <i class="si si-close"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <p class="debit-msg"></p>
                                        <script>
                                            $('.trigger-debit').click(function(){
                                                $('.debit-msg').text($('.confirm-debit').data('msg'));
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Close</button>
                                    <%= button_to instant_transfer_path, method: :post, data: { msg: "We charge a #{ENV["INSTANT_PAYOUT_FEE"].to_f * 100}% (minimum #{ENV["INSTANT_PAYOUT_MINIMUM"]}) fee for instant payouts. Confirm instant payout of #{format_amount(@instant_amt)} to your #{@debit_card.brand} card ending in #{@debit_card.last4}?", disable_with: "<i class='fa fa-spinner fa-spin'></i> Transferring funds..." }, params: { amount: @instant_amt.round, fee: @instant_fee.round, destination: @debit_card.id, method: 'instant' }, class: "confirm-debit btn btn-alt-success" do %>
                                        <i class="fa fa-check"></i> Perfect
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Fade In Modal -->
                <% end %>

                <% if @bank_account %>
                    <!-- Fade In Modal -->
                    <div class="modal fade" id="bank-fadein" tabindex="-1" role="dialog" aria-labelledby="modal-fadein"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="block block-themed block-transparent mb-0">
                                    <div class="block-header bg-primary-dark">
                                        <h3 class="block-title">Confirm</h3>
                                        <div class="block-options">
                                            <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                                <i class="si si-close"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <p class="bank-msg"></p>
                                        <script>
                                            $('.trigger-bank').click(function(){
                                                $('.bank-msg').text($('.confirm-bank').data('msg'));
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Close</button>
                                    <%= button_to instant_transfer_path, method: :post, data: { msg: "Confirm standard payout of #{format_amount(@standard_amt)} to your #{@bank_account.bank_name} bank account ending in #{@bank_account.last4}?", disable_with: "<i class='fa fa-spinner fa-spin'></i> Transferring funds..." }, params: { amount: @standard_amt.round, fee: @standard_fee.round, destination: @bank_account.id, method: 'standard' }, class: "confirm-bank btn btn-alt-success" do %>
                                        <i class="fa fa-check"></i> Perfect
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Fade In Modal -->
                <% end %>