<!doctype html>
<html lang="en" class="no-focus">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Texas ToGo Driver Pay Portal</title>

    <meta name="description" content="Daily payments, instant payouts, weekend and holiday pay">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <!-- Open Graph Meta -->
    <meta property="og:title" content="Texas ToGo Driver Pay Portal">
    <meta property="og:site_name" content="TxToGo">
    <meta property="og:description" content="Daily payments, instant payouts, weekend and holiday pay">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    
    
    
    <!-- END Icons -->

    <!-- Stylesheets -->

    <!-- Fonts and TxToGo framework -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
    <%= stylesheet_link_tag "codebase.min.css" %>

    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
    <!-- END Stylesheets -->
</head>

<body>

    <!-- Page Container -->
    <!--
            Available classes for #page-container:

        GENERIC

            'enable-cookies'                            Remembers active color theme between pages (when set through color theme helper Template._uiHandleTheme())

        SIDEBAR & SIDE OVERLAY

            'sidebar-r'                                 Right Sidebar and left Side Overlay (default is left Sidebar and right Side Overlay)
            'sidebar-mini'                              Mini hoverable Sidebar (screen width > 991px)
            'sidebar-o'                                 Visible Sidebar by default (screen width > 991px)
            'sidebar-o-xs'                              Visible Sidebar by default (screen width < 992px)
            'sidebar-inverse'                           Dark themed sidebar

            'side-overlay-hover'                        Hoverable Side Overlay (screen width > 991px)
            'side-overlay-o'                            Visible Side Overlay by default

            'enable-page-overlay'                       Enables a visible clickable Page Overlay (closes Side Overlay on click) when Side Overlay opens

            'side-scroll'                               Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (screen width > 991px)

        HEADER

            ''                                          Static Header if no class is added
            'page-header-fixed'                         Fixed Header

        HEADER STYLE

            ''                                          Classic Header style if no class is added
            'page-header-modern'                        Modern Header style
            'page-header-inverse'                       Dark themed Header (works only with classic Header style)
            'page-header-glass'                         Light themed Header with transparency by default
                                                        (absolute position, perfect for light images underneath - solid light background on scroll if the Header is also set as fixed)
            'page-header-glass page-header-inverse'     Dark themed Header with transparency by default
                                                        (absolute position, perfect for dark images underneath - solid dark background on scroll if the Header is also set as fixed)

        MAIN CONTENT LAYOUT

            ''                                          Full width Main Content if no class is added
            'main-content-boxed'                        Full width Main Content with a specific maximum width (screen width > 1200px)
            'main-content-narrow'                       Full width Main Content with a percentage width (screen width > 1200px)
        -->
    <div id="page-container" class="side-scroll page-header-fixed page-header-glass page-header-inverse main-content-boxed">  
    <!-- Header -->
        <header id="page-header">
            <% if current_user != true_user %>
            <div style="
    margin-bottom: 35p;
    height: 35px;
    background: #3f9ce8;
    color: white;
    text-align: center;
    padding: 8px;
">
                You (<%= true_user.first_name %>) are signed in as
                <%= current_user.first_name %>
                <%= link_to "Back to admin", stop_impersonating_users_path, method: :post, class: 'back-to-admin' %>
            </div>

            <% end %>
            <!-- Header Content -->
            <div class="content-header">
                <!-- Left Section -->
                <div class="content-header-section">
                    <!-- Open Search Section -->
                    <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                    <%= link_to ENV["SUPPORT_URL"] do %>
                      <button type="button" class="btn btn-rounded btn-dual-secondary">
                        <span>Support</span>
                      </button>
                      <% end %>
                    <!-- END Open Search Section -->
                </div>
                <!-- END Left Section -->

                <!-- Right Section -->
                <div class="content-header-section">
                    <!-- User Dropdown -->
                    <% if current_user %>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-rounded btn-dual-secondary" id="page-header-user-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user d-sm-none"></i>
                            <span class="d-none d-sm-inline-block">
                                <%= current_user.first_name[0] %>.
                                <%= current_user.last_name %></span>
                            <i class="fa fa-angle-down ml-5"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right min-width-200" aria-labelledby="page-header-user-dropdown">
                            <h5 class="h6 text-center py-10 mb-5 border-b text-uppercase">User</h5>
                            <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
                            <i class="si si-user mr-5"></i> Account
                            <% end %>
                            <div class="dropdown-divider"></div>
                            <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
                            <i class="si si-logout mr-5"></i> Sign Out
                            <% end %>
                        </div>
                    </div>
                    <% else %>
                    <div class="btn-group" role="group">
                        <%= link_to new_user_session_path do %>
                        <button type="button" class="btn btn-rounded btn-dual-secondary">
                            <span class="d-none d-sm-inline-block">Sign In</span>
                        </button>
                        <% end %>
                        <%= link_to new_user_registration_path do %>
                        <button type="button" class="btn btn-rounded btn-dual-secondary">
                            <span class="d-none d-sm-inline-block">Sign Up</span>
                        </button>
                        <% end %>
                    </div>
                    <% end %>
                    <!-- END User Dropdown -->
                </div>
                <!-- END Right Section -->
            </div>
            <!-- END Header Content -->
        </header>
        <!-- END Header -->

        <!-- Main Container -->
        <main id="main-container">

            <!-- Hero -->
            <div class="bg-image bg-image-bottom" style="background-image: url('<%= ENV["BANNER_IMAGE_URL"] %>')">
                <div class="bg-primary-dark-op">
                    <div class="content content-top text-center overflow-hidden">
                        <div class="pt-50 pb-20">
                            <h1 class="font-w700 text-white mb-10 invisible" data-toggle="appear" data-class="animated fadeInUp">Dashboard</h1>
                            <% if current_user.admin? %>
                            <h2 class="h4 font-w400 text-white-op invisible" data-toggle="appear" data-class="animated fadeInUp">Welcome
                                back, admin!</h2>
                            <% else %>
                            <h2 class="h4 font-w400 text-white-op invisible" data-toggle="appear" data-class="animated fadeInUp">Welcome
                                to your driver panel!</h2>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Hero -->


            <!-- Page Content -->
            <div class="content">
                <%= render 'layouts/messages' %>
                <% if current_user.admin? %>
                <div class="row js-appear-enabled animated fadeIn" data-toggle="appear">
                    <!-- Row #1 -->
                    <div class="col-6 col-md-4 col-xl-2">
                        <%= link_to users_path, class: 'block text-center' do %>
                        <div class="block-content ribbon ribbon-bookmark ribbon-crystal ribbon-left bg-gd-dusk">
                            <div class="ribbon-box">
                                <%= User.where.not(admin: true).count %>
                            </div>
                            <p class="mt-5">
                                <i class="si si-users fa-3x text-white-op"></i>
                            </p>
                            <p class="font-w600 text-white">Drivers</p>
                        </div>

                        <% end %>
                    </div>
                    <div onclick="$('.browse-csv').click();" class="col-6 col-md-4 col-xl-2">
                        <a href="#" class="block text-center">
                            <div class="block-content bg-gd-primary">
                                <p class="mt-5">
                                    <i class="si si-plus fa-3x text-white-op"></i>
                                </p>
                                <p class="font-w600 text-white">New CSV</p>
                            </div>
                        </a>
                    </div>
                                                <%= form_for PaymentSheet.new, :html => { :onsubmit => "confirm('Are you sure you want to upload this CSV?')" } do |f| %>
                                <%= f.file_field :sheet, class: 'browse-csv', id: 'browse-csv' %>
                                <%= f.submit "Submit", class: 'browse-csv-submit' %>
                            <% end %>
                    <!-- END Row #1 -->
                </div>
                <% else %>

        <% if current_user.drivers_license_expiration_date && current_user.drivers_license_expiration_date - 14.days <= Date.current %>
        <div class="row js-appear-enabled animated fadeIn">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <p class="mb-0">Your driver's license expires in <%= [(current_user.drivers_license_expiration_date - Date.current).to_i, 0].max %> days. You will need to update this document to remain an active driver. Click <%= link_to 'here', edit_user_registration_path %> to upload a new drivers license.</p>
                </div>
            </div>
        </div>
        <% end %>

        <% if current_user.insurance_card_expiration_date && current_user.insurance_card_expiration_date - 14.days <= Date.current %>
        <div class="row js-appear-enabled animated fadeIn">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <p class="mb-0">Your insurance card expires in <%= [(current_user.insurance_card_expiration_date - Date.current).to_i, 0].max %> days. You will need to update this document to remain an active driver. Click <%= link_to 'here', edit_user_registration_path %> to upload a new insurace card.</p>
                </div>
            </div>
        </div>
        <% end %>

        <% if current_user.bgc_completed && current_user.bgc_completed + 6.months <= Date.current + 14.days %>
        <div class="row js-appear-enabled animated fadeIn">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <p class="mb-0">In order to keep your driver account in compliance, we request an updated Motor Vehicle Report from you every 6 months. You have <%= [(current_user.bgc_completed + 6.months - Date.current).to_i, 0].max %> days to update. Click <%= link_to 'here', bgc_payment_path %> to update your Motor Vehicle Report.</p>
                </div>
            </div>
        </div>
        <% end %>

        <% User.where(referred_by_id: current_user.id, refer_paid: true).each do |user| %>
            <div class="row js-appear-enabled animated fadeIn refer" data-user-id="<%= user.id %>" style="display: none;">

                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <p class="mb-0"><%= user.first_name %> <%= user.last_name %> completed their first <%= ENV["REFER_DELIVERIES"] %> deliveries and you've earned a $<%= ENV["REFER_BONUS"] %> bonus.</p>
                    </div>
                </div>
            </div>
        <% end %>

        <% if current_user.refer_paid %>
            <div class="row js-appear-enabled animated fadeIn refer" data-user-id="<%= current_user.id %>" style="display: none;">

                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <p class="mb-0">You completed <%= ENV["REFER_DELIVERIES"] %> deliveries and earned a bonus $<%= ENV["REFER_BONUS"] %>, as well as a $<%= ENV["REFER_BONUS"] %> bonus for <%= current_user.referrer.first_name %> <%= current_user.referrer.last_name %>.</p>
                    </div>
                </div>
            </div>
        <% end %>
            
                <div class="row js-appear-enabled animated fadeIn">

                    <div class="col-md-12 first-payment-row" style="display: none;">
                        <div class="alert alert-primary alert-dismissable" role="alert">
                            <button type="button" class="close first-payment" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <p class="mb-0">You'll be asked to connect a bank account or debit card after you receive your first payment</p>
                        </div>
                    </div>
                </div>
                <div class="row js-appear-enabled animated fadeIn" data-toggle="appear">
                <!-- Row #3 -->
                <div class="col-md-12">
                    <div class="block block-rounded block-bordered block-themed">
                        <div class="block-header block-header-default border-b bg-gd-sun">
                            <h3 class="block-title">Refer friends, earn $<%= ENV["REFER_BONUS"] %></h3>
                            
                        </div>
                        <div class="block-content">
                            <p>When a new driver uses your link to apply, you'll both earn $<%= ENV["REFER_BONUS"] %> once they complete their first <%= ENV["REFER_DELIVERIES"] %> deliveries!</p>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Your Referral Link
                                    </span>
                                </div>
                                <input id="referral" style="background:none;" type="text" class="form-control" readonly value="https://<%= ENV["BASE_URL"] %>/?ref=<%= current_user.id %>">
                                <div class="input-group-append">
                                    <button data-clipboard-target="#referral" type="button" class="btn btn-secondary">
                                        <i class="fa fa-clipboard"></i>
                                    </button>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row js-appear-enabled animated fadeIn" data-toggle="appear">
                    <!-- Row #3 -->
                    <div class="col-md-6">
                        <a class="block" href="javascript:void(0)">
                            <div class="block-content block-content-full">
                                <i class="si si-diamond fa-2x text-body-bg-dark"></i>
                                <div class="row pt-10 pb-30 text-center">
                                    <div class="col-6 border-r">
                                        <div class="font-size-h3 font-w600">
                                            <%= @stat.days_worked %>
                                        </div>
                                        <div class="font-size-sm font-w600 text-uppercase text-muted">Days Worked</div>
                                    </div>
                                    <div class="col-6">
                                        <div class="font-size-h3 font-w600">
                                            <%= @stat.deliveries %>
                                        </div>
                                        <div class="font-size-sm font-w600 text-uppercase text-muted">Deliveries</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="block" href="javascript:void(0)">
                            <div class="block-content block-content-full">
                                <div class="text-right">
                                    <i class="si si-wallet fa-2x text-body-bg-dark"></i>
                                </div>
                                <div class="row pt-10 pb-30 text-center">
                                    <div class="col-12">
                                        <div class="font-size-h3 font-w600">$
                                            <%= '%.2f' % (@balance_available.to_f / 100) %>
                                        </div>
                                        <div class="font-size-sm font-w600 text-uppercase text-muted">Balance
                                        
                                        <button class="btn-tooltip" aria-label="The amount of money in your driver wallet, available to pay out to your bank or debit card." data-microtip-position="top" role="tooltip">
                                                            <i class="fa fa-question-circle"></i>

                                        </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- END Row #3 -->
                </div>
                <% end %>

                <% if !current_user.admin %>
                    <%= render 'charges' %>
                <% else %>
                    <%= render 'admin' %>
                <% end  %>
        </main>
        <!-- END Main Container -->


    </div>
    <!-- END Page Container -->

    <!--
            TxToGo JS Core

            Vital libraries and plugins used in all pages. You can choose to not include this file if you would like
            to handle those dependencies through webpack. Please check out assets/_es6/main/bootstrap.js for more info.

            If you like, you could also include them separately directly from the assets/js/core folder in the following
            order. That can come in handy if you would like to include a few of them (eg jQuery) from a CDN.

            assets/js/core/jquery.min.js
            assets/js/core/bootstrap.bundle.min.js
            assets/js/core/simplebar.min.js
            assets/js/core/jquery-scrollLock.min.js
            assets/js/core/jquery.appear.min.js
            assets/js/core/jquery.countTo.min.js
            assets/js/core/js.cookie.min.js
        -->
    <%= javascript_include_tag "codebase.core.min.js" %>

    <!--
            TxToGo JS

            Custom functionality including Blocks/Layout API as well as other vital and optional helpers
            webpack is putting everything together at assets/_es6/main/app.js
        -->
    <%= javascript_include_tag "codebase.app.min.js" %>

    <!-- Page JS Plugins -->
    <%= javascript_include_tag "Chart.bundle.min.js" %>

    <!-- Page JS Code -->
    <%= javascript_include_tag "be_pages_dashboard.min.js" %>

</body>

</html>