<%= content_for :page_title, 'Stripe Connect Example App' %>
<% if params[:page] %>

<% else %>
  <div class="home-hero">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center topspace-lg">
          <%= render 'layouts/messages' %>
          <h1 class="topspace-lg">Texas ToGo Driver Portal</h1>
          <h3>Need help? <a href="#">Contact Us</a></h3>
          <p class="topspace-lg">
            <%= link_to "Get Started", new_user_registration_path, class: "btn btn-xl btn-primary btn-custom btn-block shadow-sm" %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="row topspace-lg">
    <div class="col-md-12">
      <h2 class="page-header"><i class="fa fa-line-chart purple"></i> Popular campaigns</h2>
      <%= render 'campaigns' %>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="text-center">
            <%= page_entries_info @campaigns, entry_name: 'campaign' %>
          </p>
          <p class="topspace">
            <%= link_to_previous_page @campaigns, 'Previous Page', class: "btn btn-primary btn-custom" %>
            <%= link_to_next_page @campaigns, 'Next Page', class: "btn btn-primary btn-custom" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
